<?xml version="1.0"?>
<robot name="hexer_v_1_0" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- main body description -->
    <gazebo reference="base_link">
        <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="base_down_link">
        <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="base_up_link">
        <material>Gazebo/Black</material>
    </gazebo>

    <!-- left legs descriptions -->
    <gazebo reference="down_coxa_left_link">
        <material>Gazebo/Blue</material>
    </gazebo>
    <gazebo reference="down_femur_left_link">
        <material>Gazebo/Green</material>
    </gazebo>
    <gazebo reference="down_tibia_left_link">
        <material>Gazebo/Red</material>
    </gazebo>

    <gazebo reference="mid_coxa_left_link">
        <material>Gazebo/Blue</material>
    </gazebo>
    <gazebo reference="mid_femur_left_link">
        <material>Gazebo/Green</material>
    </gazebo>
    <gazebo reference="mid_tibia_left_link">
        <material>Gazebo/Red</material>
    </gazebo>

    <gazebo reference="up_coxa_left_link">
        <material>Gazebo/Blue</material>
    </gazebo>
    <gazebo reference="up_femur_left_link">
        <material>Gazebo/Green</material>
    </gazebo>
    <gazebo reference="up_tibia_left_link">
        <material>Gazebo/Red</material>
    </gazebo>


    <!-- right legs descriptions -->
    <gazebo reference="down_coxa_right_link">
        <material>Gazebo/Blue</material>
    </gazebo>
    <gazebo reference="down_femur_right_link">
        <material>Gazebo/Green</material>
    </gazebo>
    <gazebo reference="down_tibia_right_link">
        <material>Gazebo/Red</material>
    </gazebo>

    <gazebo reference="mid_coxa_right_link">
        <material>Gazebo/Blue</material>
    </gazebo>
    <gazebo reference="mid_femur_right_link">
        <material>Gazebo/Green</material>
    </gazebo>
    <gazebo reference="mid_tibia_right_link">
        <material>Gazebo/Red</material>
    </gazebo>

    <gazebo reference="up_coxa_right_link">
        <material>Gazebo/Blue</material>
    </gazebo>
    <gazebo reference="up_femur_right_link">
        <material>Gazebo/Green</material>
    </gazebo>
    <gazebo reference="up_tibia_right_link">
        <material>Gazebo/Red</material>
    </gazebo>

    
    
    <gazebo>
        <plugin name="gazebo_arm_joint_state_publisher" filename="libgazebo_ros_joint_state_publisher.so">

            <!-- Update rate in Hertz -->
            <update_rate>10</update_rate>

            <!-- Name of joints in the model whose states will be published. -->
            <joint_name>down_coxa_left_base</joint_name>
            <joint_name>down_femur_left_coxa</joint_name>
            <joint_name>down_tibia_left_femur</joint_name>
            <joint_name>mid_coxa_left_base</joint_name>
            <joint_name>mid_femur_left_coxa</joint_name>
            <joint_name>mid_tibia_left_femur</joint_name>
            <joint_name>up_coxa_left_base</joint_name>
            <joint_name>up_femur_left_coxa</joint_name>
            <joint_name>up_tibia_left_femur</joint_name>

            <joint_name>down_coxa_right_base</joint_name>
            <joint_name>down_femur_right_coxa</joint_name>
            <joint_name>down_tibia_right_femur</joint_name>
            <joint_name>mid_coxa_right_base</joint_name>
            <joint_name>mid_femur_right_coxa</joint_name>
            <joint_name>mid_tibia_right_femur</joint_name>
            <joint_name>up_coxa_right_base</joint_name>
            <joint_name>up_femur_right_coxa</joint_name>
            <joint_name>up_tibia_right_femur</joint_name>

        </plugin>
    </gazebo>

</robot> 