<?xml version="1.0"?>
<robot name="hexer_v_1_0" xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <xacro:include filename="material.xacro" />
    <xacro:include filename="inertia.xacro" />
    <xacro:include filename="base.urdf.xacro" />
    <xacro:include filename="leg_left.urdf.xacro" />
    <xacro:include filename="leg_right.urdf.xacro" />
    <xacro:include filename="gazebo.xacro" />

    <link name="ground" />
    <joint name="ground_base_link" type="fixed">
        <parent link="ground" />
        <child link="base_link" />
        <origin xyz="0 0 0.225" rpy="0 0 0" />
    </joint>

    <xacro:leg_left prefix="down"  origin_x="-0.04" origin_y="0.069" origin_z="-0.046" />
    <xacro:leg_left prefix="mid"  origin_x="-0.08" origin_y="-0.001" origin_z="-0.046" />
    <xacro:leg_left prefix="up"  origin_x="-0.04" origin_y="-0.069" origin_z="-0.046" />

    <xacro:leg_right prefix="down" origin_x="0.04" origin_y="0.069" origin_z="-0.046" />
    <xacro:leg_right prefix="mid" origin_x="0.08" origin_y="0" origin_z="-0.046" />
    <xacro:leg_right prefix="up" origin_x="0.04" origin_y="-0.069" origin_z="-0.046" />

</robot>